<ion-header>
  <ion-toolbar class="konten">
    <ion-title>
      Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="konten" padding>
  <ion-card *ngFor="let item of items">
    <img data-src="http://localhost:8000/img/{{ item.Foto}}" />
    <ion-card-content>
      <ion-card-title>
        {{ item.Nama_Pakaian }}
      </ion-card-title>
      Rp. <b [innerHTML]="item.Harga_Sewa">
        {{ item.Harga_Sewa }}
      </b>
    </ion-card-content>
  </ion-card>
</ion-content>

