<ion-header>
  <ion-toolbar class="konten">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="konten">
    <ion-slides pager>
      <ion-slide>
        <ion-card class="welcome-card">
          <ion-img src="/assets/Happy_wedding_planner.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="cardsubtitle"><p align="center">Selamat Datang di</p></ion-card-subtitle>
            <ion-card-title>Family Wedding</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>“Barangsiapa menikah, maka ia telah melengkapi separuh imannya. Dan hendaklah ia bertaqwa kepada Allah dalam memelihara yang separuhnya lagi".</p>
            <p>(sabda Rasulullah shallallaahu ‘alaihi wa sallam).</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <ion-img src="/assets/nikah3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title class="cardtitle">Family Wedding</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Pasangan Dani Febrian & Siska Putri</p>
            <p>20-09-2017</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <ion-img src="/assets/nikah1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title class="cardtitle1">Family Wedding</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Pasangan Wahyu Dermawan & Aulia Diningsih</p>
              <p>10-10-2010</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <ion-img src="/assets/nikah.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title class="cardtitle2">Family Wedding</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Pasangan Indra Sanjaya & Putri Rahma</p>
              <p>08-08-2018</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>
