.welcome-card ion-img {
  max-height: 35vh;
  color: azure;
}
.konten {
  --background: url('/assets/wedding-background.jpg');
}

.cardtitle {
  padding: 20px 20px 0px 20px;
  margin-top: 60px;
}
.cardtitle1 {
  padding: 20px 20px 0px 20px;
  margin-top: 70px;
}
.cardtitle2 {
  padding: 20px 20px 0px 20px;
  margin-top: 70px;
}
.cardsubtitle {
  padding: 20px 20px 0px 20px;
  margin-top: 10px;
}
