<ion-header>
    <ion-toolbar class="konten">
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="konten">
    <ion-card class="welcome-card">
      <p align="center"><ion-img style="heigth:100px; width: 100px;" src="/assets/home.ico"></ion-img></p>
      <ion-card-header>
        <ion-card-title><p align="center">Family Wedding</p></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Kp. Cupu, Kecamatan Baleendah, Kabupaten Bandung</p>
        <p>No Telepon : 083820122018</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  